@import url('https://fonts.googleapis.com/css2?family=Lato');

.texto-rosa {
    color: var(--purple1); /* Substitua pela cor rosa desejada */
  }

  body{
    background-color: #1b1e23;
    font-family: 'Lato', sans-serif;
  }

/* FOKEZ */

.section{
  display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: .8rem;
    background-color: var(--dark6);
    min-height: 50px;
}

  /* Strong */

  strong{
    color: var(--pink);
}

  /* Criação de Variáveis para cores */

  :root{
    --white: #fff;
    --purple1: #B36BC2;
    --purple2: #421657;
    --purple3: #936DB5;
    --purple4: #B3A1CF;
    --purple5: #4B3F73;
    --dark6: #2f2f46;
    --pink: rgb(237, 103, 255);
}

  #btn-doar:hover{
    color: var(--purple1);
    font-weight: bold;
    border-color: var(--purple1);
    background-color: transparent;
    transition: .4s;
  }

  #btn-doar{
    color: white;
    font-weight: bold;
    background-color: var(--purple1);
    box-shadow: 4px;
  }

  .carousel {
    max-width: 100%;
  }
  
  .carousel-inner {
    display: flex;
    flex-direction: row;
  }
  
  .carousel-item {
    flex: 0 0 100%; /* Cada item ocupa a largura total */
  }
  
/* Personalizar a barra de rolagem */
::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
  }
  
  /* Personalizar o "pulso" da barra de rolagem (a alça) */
  ::-webkit-scrollbar-thumb {
    background-color: var(--purple1); /* Cor da alça */
    border-radius: 5px; /* Borda arredondada */
  }
  
  /* Personalizar a pista (fundo) da barra de rolagem */
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor de fundo da pista */
  }
  
  /* styles.css */
#btnToTop {
    display: none; /* Inicialmente esconde o botão */
    position: fixed;
    border-radius: 70%;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: fuchsia;
    border-color: #f1f1f1;
    color: white;
    border: none;
    cursor: pointer;
  }

/* FOOTER FOKEZ */

.title{
  align-items: center;
  justify-content: center;
  color: var(--purple1);
}

  footer{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
  
